/* Write your CSS here */
/* Write your CSS here */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.each-team-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 500vh;
}

.kxp {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}

.rcb {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.kkr {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}

.csk {
  background: linear-gradient(to bottom, #f7db00, #ffffff33);
}

.rr {
  background: linear-gradient(to bottom, #da237b, #1e293b);
}

.mi {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}

.sh {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-banner {
  width: 100%;
}

.inner-container {
  width: 90%;
}

.side-heading {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.teams-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
}
